/* Whole page styles */
body {
    background-color: rgb(201, 214, 230);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
/* Navigation Styles */

nav {
    background-color: rgb(180, 210, 210);
    text-align: center;
}
a:link { 
    color:rgb(95, 62, 238)
}
a:visited {
    color:black
}

/* Heading Styles */

header {
    background-color: rgb(238, 228, 228);
}
h1, h2 {
    text-align: center;
}

/* Navigation Styles */

nav {
    background-color: rgb(172, 202, 241);
    text-align: center;
    height: 20px;
    padding: 10px;
}
a:link { 
    color:rgb(24, 0, 236)
}
a:visited {
    color:black
}
